{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "importOrder": [
    "^vue",
    "^(nuxt/(.*)$)|^(nuxt$)",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ]
}
